* {
    margin:unset;
    padding:unset;
    font-family:'LemonMilk';
}

html, body {
    height:auto;
    min-height:100%;
}

body {
    background-color:#131313;
}

#container {
    background-color:#131313;
    width:100%;
    color:white;
    height:100vh;
    overflow:hidden;
}

ul, h1, h2, h3, h4, h5, h6, p {
    margin:unset;
    padding:unset;
}

a {
    text-decoration:none;
    color:unset;
}

ul {
    list-style-type:none;
}

.wt_center {
	/**Start of vertical/horizontal centering**/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	/**End of vertical/horizontal centering**/
	text-align:center;
	width:100%;
	letter-spacing:0.1em;
}

.swipe_overlay {
    height:100%;
    width:100%;
    position:absolute;
}

.arrowcontain {
    height:100%;
    margin-left:10%;
    width:80%;
    position:relative;
    overflow:hidden;
    z-index:610;
}

.down_arrow {
    height:25px;
    bottom:25%;
    top:unset;
    overflow:hidden;
    cursor:pointer;
}

/**NAVIGATION**/
.side_line_nav {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    z-index:1005;
}

.side_line_base {
    width:20px;
    background-color:white;
    height:2px;
    padding:10px 0 10px 10px;
    background-clip:content-box;
}

.side_line_0 {
    background-color:#D02424;
    width:40px;
}

.burger_menu {
    position:fixed;
    z-index:1007;
    top:0;
    right:0;
    text-align:right;
    width:100%;
    background-color:#131313;
}

.full_burger_line {
    margin:15px 15px 15px 0;
    display:inline-block;
    cursor:pointer;
}

.burger_line {
    background-color:white;
    height:4px;
    border-radius:10%;
    margin:5px 0 5px 0;
}

.burger_line_0 {width:30px;}
.burger_line_1 {width:20px; margin-left:10px;}
.burger_line_2 {width:10px; margin-left:20px;}

.desk_menu {
    position:fixed;
    z-index:1007;
    top:0;
    right:0;
    text-align:right;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    font-size:.75em;
    letter-spacing:3px;
    background-color:transparent;
}

.desk_nav_menu {
    color:gray;
    display:flex;
    justify-content:flex-end;
}

.desk_nav_menu li {
    margin: 0 20px;
    cursor:pointer;
}

.desk_nav_menu li:hover {
    color:white;
}

.m_nav_menu {
    background-color:#131313;
    width:100%;
    height:100%;
    position:fixed;
    z-index:1006;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.m_nav_menu_list {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
}

.m_nav_item {
    margin:20px 0;
}

.desk_nav_item {
    padding:10px;
}

/**ABOUT ME**/
#about_container {
    width:100%;
    height:100%;
    background-color:#131313;
    position:fixed;
    z-index:650
}

.about_text_contain {
    width:80%;   
}

.about_text_contain p {
    font-size:3vw;
}

/**WORKS**/
#work_container {
}

.wc_main {
    height:100vh;
    width:100%;
    position:relative;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.work_circle {
    width:50%;
    padding-top:50%;
    border-radius:100%;
    cursor:pointer;
}

.rugsusa_circle {
    background-image:url('../images/rugsbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#D02424;
}

.fuyuramen_circle {
    background-image:url('../images/fuyubanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#FFA53C;
}

.mystic_circle {
    background-image:url('../images/mystiqbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#2556D4;
}

.zombiedice_circle {
    background-image:url('../images/zombiebanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#19BE6F;
}

.guesser_circle {
    background-image:url('../images/guesserbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#9319BE;
}

.work_text {
    z-index:605;
}

.work_company {
    font-family:'Mont';
    letter-spacing:unset;
    font-size:12vw;
    display:inline-block;
    cursor:pointer;
}

.work_position {
    font-size:.7em;
}

.m_work_page {
    width:100%;
    background-color:#131313;
    height:100%;
}

.work_page_banner {
    height:100%;
    width:100%;
    z-index:49;
}

.ru_p_banner {
    background-image:url('../images/rugsbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#D02424;
}

.fr_p_banner {
    background-image:url('../images/fuyubanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#FFA53C;
}

.m_p_banner {
    background-image:url('../images/mystiqbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#2556D4;
}

.zd_p_banner {
    background-image:url('../images/zombiebanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#19BE6F;
}

.g_p_banner {
    background-image:url('../images/guesserbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#9319BE;
}

.work_descript_contain {
    width:100%;
    height:auto;
    background-color:#131313;
    margin-bottom:50px;
}

.work_descript {
    width:85%;
    margin:auto;
    margin-top:75px;
    margin-bottom:75px;
}

.work_descript_header {
    letter-spacing:.2em;
    margin-bottom:25px;
    margin-top:25px;
}

.code_link {
    display:inline-block;
    border:1px solid white;
    padding:10px;
}

.cl1 {
    margin-right:5px;
}

.cl2 {
    margin-left:5px;
}

.work_descript_text {
    font-family:'Futura';
    line-height:2em;
    font-size:.9em;
    letter-spacing:.1em;
}

.work_images {
    width:100%;
    height:200px;
    background-color:#D02424;
}

/**FOOTER**/
.social {
    position:fixed;
    bottom:0;
    width:100%;
    z-index:3000;
}

.social_list {
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-content:center;
    font-size:.55em;
    letter-spacing:3px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:black;
    color:gray;
    cursor:pointer;
}

.social_list li:hover {
    color:white;
}

@font-face {
    font-family:'LemonMilk';
    src:url(../fonts/LemonMilklight.otf);
    font-style:normal;
    font-weight:100;
}


@font-face {
    font-family:'Mont';
    src:url(../fonts/Mont-HeavyDEMO.otf);
    font-style:normal;
    font-weight:100;
}

@font-face {
    font-family:'Futura';
    src:url(../fonts/FuturaLight.otf);
    font-style:normal;
    font-weight:100;
}

.hidden {
    display:none;
}

.redbox {
    width:100%;
    height:100vh;
    background-color:red;
    position:fixed;
    left:-100%;
}

/***CONTACT***/
#contact_container {
    z-index:655;
    position:fixed;
    height:100%;
    width:100%;
    background-color:#131313;
}

.contact_box {
    text-align:left;
    width:80%;
}

.contact_descript {
    margin:20px 0;
}

input, label, textarea {
    display:block;
    border:unset;
    background-color:unset;
}

.form_input_oneline, .contact_textarea {
    border-bottom:1px solid white;
    width:100%;
    color:white;
    margin:10px 0 15px 0;
    font-size:.75em;
}

.form_label {
    font-size:.75em;
}

.contact_textarea {
    height:100px;
}

.sub_button {
    background-color:white;
    width:100%;
    height:30px;
    letter-spacing:5px;
    font-size:.75em;
    font-weight:bold;
}

/**GOBACK**/
.go_back {
    font-size:.8em;
    margin-left:15px;
    text-align:left;
}

.go_back p {
    display:inline-block;
    cursor:pointer;
}

.zindex1 {
    z-index:500;
}

.zindex2 {
    z-index:600;
}

.transition {
    height:100%;
    width:100%;
    position:fixed;
    left:-100%;
    z-index:10000;
}

.trans1 {
    background-color:#2C2C2C;
}

.trans2 {
    background-color:#1E1E1E;
}

.trans3 {
    background-color:#131313;
}


/**MEDIA QUERIES**/
@media only screen and (min-width:696px){
    .about_text_contain p {
        font-size:21px;
    }
    .contact_box {
        width:560px;
    }
}

@media only screen and (max-width:990px){
    .desk_menu {
        display:none;
    }
    .burger_menu {
        display:block;
    }
}

@media only screen and (min-width:991px){
    .social_list {
        justify-content:flex-end;
        align-content:unset;
        padding-top:20px;
        padding-bottom:20px;
        background-color:unset;
        font-size:.75em;
    }
    .social_list li {
        margin:0 20px;
    }
    .burger_menu {
        display:none;
    }
    .burger_line {
        background-color:unset;
    }
    .swipe_overlay {
        display:none !important;
    }
    .work_company {
        font-size:12vw;
        letter-spacing:unset;
    }
    .desk_menu {
        display:block;
    }
    .burger_menu {
        display:none;
    }
    .work_descript {
        width:50%;
    }
    .work_images {
        width:50%;
    }
    .image_margin {
        margin-left:25%;
    }
}

@media only screen and (min-width:1100px){
    .about_text_contain p {
        width:883px;
        margin:auto;
    }
}

@media only screen and (min-width:1200px){
    .work_circle {
        padding-top:600px;
        width:600px;
    }
    .work_company {
        font-size:144px;
    }
    .work_descript {
        width:591px;
    }
    .work_images {
        width:591px;
    }
    .image_margin {
        margin:auto;
    }
}

.social_button_git {
    position:relative;
}