* {
    margin:unset;
    padding:unset;
    font-family:'LemonMilk';
}

html, body {
    height:auto;
    min-height:100%;
}

body {
    background-color:#131313;
}

#container {
    background-color:#131313;
    height:100vh;
    width:100%;
    color:white;
}

ul, h1, h2, h3, h4, h5, h6, p {
    margin:unset;
    padding:unset;
}

a {
    text-decoration:none;
    color:unset;
}

ul {
    list-style-type:none;
}

.wt_center {
	/**Start of vertical/horizontal centering**/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	/**End of vertical/horizontal centering**/
	text-align:center;
	width:100%;
	letter-spacing:0.1em;
}

.arrowcontain {
    height:100%;
    margin-left:10%;
    width:80%;
    position:relative;
    overflow:hidden;
}

.down_arrow {
    height:25px;
    bottom:25%;
    top:unset;
    overflow:hidden;
}

/**NAVIGATION**/
.side_line_nav {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    z-index:1005;
}

.side_line_base {
    width:20px;
    background-color:white;
    height:2px;
    margin:10px 0 10px 10px;
}

.side_line_0 {
    background-color:#D02424;
    width:40px;
}

.burger_menu {
    position:fixed;
    z-index:1000;
    top:0;
    right:0;
    text-align:right;
    width:100%;
    background-color:#131313;
}

.full_burger_line {
    margin:15px 15px 15px 0;
    display:inline-block;
}

.burger_line {
    background-color:white;
    height:4px;
    border-radius:10%;
    margin:5px 0 5px 0;
}

.burger_line_0 {width:30px;}
.burger_line_1 {width:20px; margin-left:10px;}
.burger_line_2 {width:10px; margin-left:20px;}

.m_nav_menu {
    background-color:rgba(0,0,0,.9);
    width:100%;
    height:100%;
    position:fixed;
    z-index:999;
}

.m_nav_menu_list {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
}

.m_nav_item {
    margin:20px 0;
}

/**ABOUT ME**/
#about_container {
    width:100%;
    height:100%;
    background-color:#131313;
    position:fixed;
}

.about_text_contain {
    width:80%;   
}

.about_text_contain p {
    margin:25px 0;
}

.about_text_contain p {
    font-family:unset !important;
}

/**WORKS**/
#work_container {
}

.wc_main {
    height:100vh;
    width:100%;
    position:relative;
}

.work_circle {
    width:50%;
    padding-top:50%;
    border-radius:100%;
}

.rugsusa_circle {
    background-image:url('../images/rugsbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#D02424;
}

.fuyuramen_circle {
    background-image:url('../images/fuyubanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#FFA53C;
}

.mystic_circle {
    background-image:url('../images/mystiqbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#2556D4;
}

.zombiedice_circle {
    background-image:url('../images/zombiebanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#19BE6F;
}

.guesser_circle {
    background-image:url('../images/guesserbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#9319BE;
}

.work_text {
    z-index:50;
}

.work_company {
    letter-spacing:.2em;
    font-size:2.4em;
}

.work_position {
    font-size:.7em;
}

.m_work_page {
    width:100%;
    background-color:#131313;
    height:100%;
}

.work_page_banner {
    height:85%;
    width:100%;
    z-index:49;
}

.ru_p_banner {
    background-image:url('../images/rugsbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#D02424;
}

.fr_p_banner {
    background-image:url('../images/fuyubanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#FFA53C;
}

.m_p_banner {
    background-image:url('../images/mystiqbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#2556D4;
}

.zd_p_banner {
    background-image:url('../images/zombiebanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#19BE6F;
}

.g_p_banner {
    background-image:url('../images/guesserbanner.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-color:#9319BE;
}

.work_descript_contain {
    width:100%;
    height:auto;
    background-color:#131313;
    margin-bottom:50px;
}

.work_descript {
    width:85%;
    margin:auto;
    margin-top:75px;
    margin-bottom:75px;
}

.work_descript_header {
    letter-spacing:.2em;
    margin-bottom:25px;
    margin-top:25px;
}

.code_link {
    display:inline-block;
    border:1px solid white;
    padding:10px;
}

.cl1 {
    margin-right:5px;
}

.cl2 {
    margin-left:5px;
}

.work_descript_text {
    font-family:'Futura';
    line-height:2em;
}

.work_images {
    width:100%;
    height:200px;
    background-color:#D02424;
}

/**FOOTER**/
.social {
    position:fixed;
    bottom:0;
    width:100%;
    z-index:3000;
}

.social_list {
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-content:center;
    font-size:3vw;
    letter-spacing:3px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:black;
    color:gray;
}

.social_list li:hover {
    color:white;
}

@font-face {
    font-family:'LemonMilk';
    src:url(../fonts/LemonMilklight.otf);
    font-style:normal;
    font-weight:100;
}

.hidden {
    display:none;
}

.redbox {
    width:100%;
    height:100vh;
    background-color:red;
    position:fixed;
    left:-100%;
}

/***CONTACT***/
input, label, textarea {
    display:block;
}

/**GOBACK**/
.go_back {
    font-size:.8em;
    margin-left:15px;
    text-align:left;
}

.go_back p {
    display:inline-block;
}